/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
body{
  background-color: black;
}
/******************************************
/* LAYOUT
/*******************************************/
#logo{
  width: 50%;
  float: left;
}
#title h1{
  margin-top: 50px;
  float: left;
  color: white;
}
#allTitle{
  float: left;
}
#main-center{
  margin: auto;
  width: 600px;
}
#input{
  margin: auto;
  float: left;
}
#saveDateDIV{
width: 20%;
float: right;
}
#title{
  width: 600px;
  margin: auto;
}

.center{
  margin: auto; 
  width: 600px;
}
.overlay{
  display: flex;
  margin: auto; 
  width: 600px;
}
#NASApic{
  max-width: 100%;
  max-height: 100%;
  margin-left: -50%;
}
#NASAvid{
  max-width: 100%;
  max-height: 100%;
}


#NASAwords{
  margin: auto; 
  width: 600px;
  /* border: 1px solid rgb(23, 175, 0); */
  text-align: justify;
  color: white;
}
/******************************************
/* Table
/*******************************************/

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

#myTable{
  float:right;
  margin-right: 1%;
  margin-top: -10%;
  width: 10%;
}